$rupture-mobile-cutoff ?= 400px
$rupture-desktop-cutoff ?= 1050px
$rupture-enable-em-breakpoints ?= false
$rupture-base-font-size ?= 16px
$rupture-anti-overlap ?= false
$rupture-density-queries ?= 'dppx' 'webkit' 'moz' 'dpi'
$rupture-retina-density ?= 1.5